html {
    scroll-behavior: smooth;
  }
  .imgbox{
    height:377px;
  }
  .side{
      width: 25%;
  }
  .mb-5{
      width: 75%;
  }
  .margin-right{
    margin-right:30px;
  }
  .hexa{
      display: flex;
  }
  .gridi{
    display: grid;
  }
  .petziee{
    font-weight: 500;
    letter-spacing: 5px;
    margin-left: 40px;
  }
  .main-img img{
    /* height: 210px; */
    height: 350px;
  }
  .skin-light .w-150 {
    width: 50%;
    }
  .cont{
    margin-top: 50px;
  }
  .bottom{
    margin-bottom: 25px;
  }
  .cont h5{
    font-size: 25px;
    color: black;
  }
  .cont h6{
    font-size: 18px;
  }
  .padleft{
    padding-left: 30px;
    margin-top: 60px;
  }
  .padlef{
    padding-left: 30px;
  }
  /* img.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 200px;
  } */
  .stick{
    position: sticky;
    top: 75px;
    -webkit-box-flex: 1;
  }
  .buton{
    display: grid;
  }
  
  @media (max-width: 767px){
      .hexa{
          display: grid;
      }
      .mb-5{
          width: 100%;
          margin-left: -5px;
      }
      .side{
          width: 100%;
          margin-top: 0px;
      }
      .main-img img{
        height: 210px;
      }
  }
  
  @media (max-width: 1200px){
    .main-img img{
      height: 280px;
    }
  }
  
  @media (max-width: 991px){
    .main-img img{
      /* height: 210px; */
      height: auto;
    }
  }
  
  
  
  
  
  
  /* toggle img  */
  
  
  
  
  
  
  
  .showbuys{
    display: none;
  }
  
  /* footer  */
  
  
  .contain{
    max-width: 2000px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color: #000;
    padding: 34px 0;
  }
  
  .footer-col{
   width: 33%;
   padding: 0 35px;
   
  }
  
  .footer-col h4{
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    margin-left: 150px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col ul:not(:last-child){
    margin-bottom: 10px;
  }
  
  .footer-col ul p{
    font-size: 17px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul p:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  
  .footer-col .social-links a{
    display: inline-block;
    height: 32px;
    width: 32px;
    /* background-color: rgba(255,255,255,0.2); */
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #00bcd4;
    /* background-color: #ffffff; */
  }
  
  
  
  @media (max-width: 991px) {
  
    .footer-col .social-links a {
        font-size: 22px;
    }
  
  }
  
  
  @media (max-width: 830px) {
    .footer-col a{
        font-size: 27px;
    }
  }
  
  @media (max-width: 690px) {
    .footer-col a{
        font-size: 24px;
    }
  }
  
  
  
  /* footer */
  .footer .container{
    max-width: 1037px;
    margin: 70px auto 80px auto;
  }
  .footer-list{
    flex-wrap: wrap;
    align-items: flex-start;
    display: flex;
  }
  .footer-item{
    margin: 16px;
    text-align: left;
  }
  .footer-item h2{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
  }
  .footer-item.one a{
    display: block;
    padding-bottom: 22px;
  }
  .form-element{
    margin-top: 40px;
    border: 2px solid #a9a9a9;
    max-width: 350px;
    height: 50px;
    font-size: 15px;
    justify-content: space-between;
  }
  .form-element .form-control{
    font-family: inherit;
        /* height: 100%;
        width: 100%;
        padding: 0 18px; */
    border: none;
  }
  .form-element .form-control:focus{
    outline: 0;
  }
  .form-element .subs-btn{
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    margin: 0 16px;
  }
  .footer-item ul{
    list-style-type: none;
    margin-left: -40px;
  }
  .footer-item ul li{
    margin-bottom: 20px;
  }
  .footer-item ul a{
    color: #7f7f7f;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
  }
  .footer-item.one{
    width: calc(32% - 33px);
  }
  .footer-item:not(.footer-item.one){
    width: calc(22.6667% - 33px);
  }
  .copyright-text{
    background-color: var(--nero);
  }
  .copyright-text .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
  }
  .backfooter{
    background: #313131;
  }
  #footer .container{
    margin-bottom: 0!important;
    margin-top: 50px;
    padding-top: 50px;
  }
  
  
  /* responsiveness */
  @media screen and (max-width: 1400px){
    .trending-item{
        width: calc(25% - 33px);
    }
  }
  
  @media screen and (max-width: 1100px){
    .categories-item{
        width: calc(50% - 33px);
        margin-bottom: 33px;
    }
    .categories-list{
        margin-bottom: -33px;
    }
    .trending-item{
        width: calc(33.3333% - 33px);
    }
    .brand-item{
        width: 33.3333%;
    }
    .photo-item{
        width: 33.3333%;
    }
    .footer-item{
        width: calc(50% - 33px)!important;
    }
  }
  
  
  
  
  @media screen and (max-width: 576px){
  
    .footer-item{
        width: calc(100% - 33px)!important;
        /* text-align: center; */
    }
    .footer-item ul li {
      margin-bottom: 0px;
    }
    #footer .container{
      margin-bottom: 0!important;
      margin-top: 50px;
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
  
  .logon{
    letter-spacing: 5px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 35px;
  }
  .whit{
    color: #7f7f7f;
    border-top: 0.5px solid #7f7f7f;
  }
  
  .mtop{
    font-size: 13px;
    margin-top: -10px;
  }
  
  
  
  .paras{
    /* background: url(../productimg/lemon.jpeg); */
    background-size: cover;
    color: white;
    background: #ea0d2c;
  }
  
  main::before{
    content: '';
    position: absolute;
    background: inherit;
    top: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(20px);
  }
  
  .topics{
    list-style: disc;
    font-size: 15px;
    padding-left: 0px;
  }
  
  .descrip{
    display: flex;
  }
  
  .descrip h4{
    font-size: 15px;
    margin-top: 10px;
  }
  
  .descrip span{
    font-weight: 300;
  }
  
  
  /* searchbar */
  
  
  
  
  .search-container {
    float: right;
  }
  
  input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 12px;
    border: none;
  }
  
   .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background: #ccc;
  }
  
  
  .botoms{
    box-shadow: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid  rgb(206, 206, 206);
    padding-right: 12px;
    padding-left: 10px;
    background: white;
    color: rgba(0,0,0,0.6);
  }
  
  .botoms:hover{
    color: #313131;
  }
  
  .inpu{
    /* margin-top: 48px; */
      padding-right: 15px;
      padding-left: 15px;
      display: none;
  }
  


  .inpu2 {
    /* padding-top: 1px; */
    padding-bottom: 0px;
    background: rgb(230, 230, 230);
    position: absolute;
    z-index: 20;
    margin-top: -25px;
    width: 100%;
    opacity: 0;
}
  
  .skin-light .md-form.md-outline label {
    top: -3px;
    margin-left: 10px;
    font-size: 13px;
  }
  
  .col-3 {
    /* -ms-flex: 0 0 25%; */
    flex: 0 0 14%;
    max-width: 25%;
}

.mdb-lightbox [class*=col-] {
    padding: 0.21rem;
    padding-top: 15px;
}
  
  /* @media (max-width: 470px){
    .helll{
      display: none;
    }
    .inpu{
      display: contents;
    }
    .formsearch{
      margin-top: 48px;
    }
  } */
  
  
  @media (max-width: 767px){
    .helll{
      display: none;
      width: 100%;
      padding-right: 15px;
      padding-left: 20px;
      margin-bottom: 25px;
    }
    .inpu{
      display: contents;
    }
    .formsearch{
      margin-top: 21px;
      padding-right: 30px;
      padding-left: 40px;
    }
    .inpu2{
      opacity: 1;
    }
  
    .skin-light .mt-70 {
      margin-top: 48px;
      padding-top: 70px;
    }
  }
  


  .buynow{
    display: contents;
  }
.buyno{
  display: none;
}



.extra{
    height: 70px;
    margin-top: 15px;
}


  /* COLOR CHANGING */

  .skin-light .text-primary {
    color: #ea0d2c !important;
  }
  
  .skin-light .form-check-input[type=radio]:checked+label:after {
    border: 2px solid #ea0d2c;
  }
  .skin-light .form-check-input[type=radio]:checked+label:after {
    background-color: #ea0d2c;
  }

  .skin-light .btn-primary {
    color: #fff;
    background-color: #ea0d2c !important;
}

/* prduct BIO  */

.photopad{
    width: 100%;
    padding: 120px;
}

.pt-1{
    text-align: left;
}

.main-im{
        overflow: hidden;
}

.gridlines{
    display: flex;
    padding: 100px;
    padding-bottom: 0px;
    /* text-align: left; */
}

.tbox{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
}

.trd{
    display: grid;
    margin-bottom: 180px;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid #c8c8c8;
}

.trd p,li{
    font-size: 13px;
}

.bioheder{
  font-size: 17px;
  padding-right: 68px;
  margin-top: 30px;
}

.trd img{
  width: 160px;
}

.showcontent{
    display: none;
}

/* .with80{
    width: 80%;
} */

.text101{
    text-align: left;
}

.bioimg{
    /* width: 230px; */
    height: auto;
    border-radius: 12px;
}

.bioimg2{
    width: 90%;
}

.textp{
    width: 25%;
}

.textpo{
    width: 33.33333%;
}

.pright{
    margin-top: 10px;
    font-size: 15px;
    width: 88%;
    line-height: 20px;
    padding-left: 25px;
    font-weight: 400;
}

.buysho{
  display: none;
}

.pto{
    padding-top: 25px;
    margin-bottom: 10px;
}


.logoimg{
    width: 10%;
    filter: brightness(30);
}


@media (max-width: 1200px){
  .prduimg img{
    width: -webkit-fill-available;
  }

  .differentimg img{
    width: 265px;
    height: 265px;
    margin-top: 15px;
  }

  .textp img{
    /* width: 270px;
    height: 270px; */
    margin-right: 25px;
  }

  .gridlines{
    padding: 0px;
    padding-top: 25px;
  }

  .tbox {
    padding-left: 0;
    padding-right: 0;
  }

  
}

@media (max-width: 991px){
  .textp img{
    width: 150px;
    height: auto;
    margin-right: 30px;
  }
  
  .fst img{
    width: 230px;
  }
  .bioimg {
    width: 200px;
    height: auto;
    }
    .pright{
        font-size: 12px;
        margin-bottom: 30px;
    }
    .logoimg{
        width: 17%;
    }
}

@media (max-width: 767px){
  
  .textp img{
    width: 160px;
    height: 160px;
  }
  .differentimg img{
    width: 140px;
    height: 140px;
    margin-top: 8px;
  }
  .bioheder {
    font-size: 15px;
    padding-right: 15px;
    margin-top: 15px;
  }
  .onionpic img{
    width: 230px;
  }
  .fst img {
    width: 150px;
    margin-right: 10px;
  }
  .trd img{
    width: 110px;
  }
  
}

@media (max-width: 575px){
  .textp img {
    margin-right: 5px;
  }
  .differentimg img {
    width: 103px;
    height: 103px;
    margin-top: 7px;
  }
  .textp img {
    margin-top: 30px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .gridlines{
    display: grid;
  }
  .tbox{
    display: grid;
    /* text-align: center; */
  }
  .fst{
    text-align: center;
  }
  .fst img{
    width: 215px;
  }

  .hidecontent{
      display: none;
  }
  .showcontent{
      display: contents;
  }
  .padlef {
    padding-left: 0px;
  }
  .trd{
    border: none;
  }
  .trd img{
    width: 21 2px;
  }
  .trd img {
    width: 100%;
  }
  .col-3 {
    /* -ms-flex: 0 0 20%; */
    flex: 0 0 16%;
    max-width: 25%;
  }
  .stick {
    position: initial;
  }
  /* .buyhid{
    display: none;
  } */
  .topics {
    margin-left: -25px;
    }
    .textp{
        width: 100%;
    }

    .textpo{
        width: 100%;
    }
    .logoimg{
        width: 30%;
    }
}






.skin-light .number-input.number-input button:before, .skin-light .number-input.number-input button:after {
  width: 10px;
  background-color: #495057;
  margin-top: -5px;
}

.md-form.md-outline {
  position: relative;
  margin-top: 0rem;
  margin-bottom: 0;
}
